:root {
  --bg-color: #EEE;
  --title-font: 'Courier New', Courier, monospace;
}

html, body, #root, #app-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

h1 {
  margin: 0;
  padding-top: 15px;
}

#app-container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

#main-content-area {
  flex-grow: 1;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  font-family: var(--title-font);
  text-align: center;
}

header > h1 {
  font-family: var(--title-font);
}

#about-hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  width: 80%;
}

#about-hr:after {
  content: "About";
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: var(--bg-color);
  font-family: var(--title-font);
}

#about-text {
  padding: 20px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2rem;
}

#drawing-canvas {
  background: white;
  border: 1px solid black;
  /* height: 350px;
  width: 350px; */
  touch-action: none;
  cursor: crosshair;
}

button {
  margin-top: 1rem;
  font-size: 1rem;
}

#draw-button-container {
  display: flex;
  justify-content: space-around;
}

#guess-section {
  background: white;
  padding: 15px 3px;
  width: 150px;
  border: 1px solid black;
  margin: 3rem auto;
}

#guess-section>h4 {
  padding: 0;
}

#guess {
  text-align: center;
  font-size: 4rem;
  margin: 0 auto;
}

html,
body {
  min-width: 100%;
}


#main-content .col-12 {
  padding: 0;
}

#main-content {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#primary {
  min-height: 88vh;
}

footer {
  font-family: monospace;
  min-height: 8vh;
  color: grey;
  padding-bottom: 5px;
}

#icon-footer {
  display: flex;
  justify-content: space-around;
}

#icon-footer img {
  height: 6vh;
}

#personal-footer {
  text-align: left;
  padding-bottom: 10px;
}

.table-headings {
  font-weight: normal;
}